@import "../../../node_modules/@idli/theme/variables";

::selection {
  color: #fff;
  background: #1890ff;
}

* {
  box-sizing: border-box;
}

.idli-textarea-component {
  font-family: $font-normal;

  label {
    width: 100%;
    display: inline-block;
    margin-bottom: $space-2;
  }

  .idli-textarea-element {
    box-sizing: border-box;
    padding: 4px 11px;
    resize: vertical;
    min-width: 0;
    margin-bottom: $space-3;

    -webkit-box-sizing: border-box;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: start;
    font-weight: 400;
    letter-spacing: normal;
    cursor: text;

    &::placeholder {
      color: #bfbfbf;
    }

    &:hover {
      border-color: #40a9ff;
      border-right-width: 1px !important;
    }

    &:focus,
    &.focused {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
      -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

  }

  /**
    * SIZES
    */
  &.size-lg {
    font-size: 16px;
  }

  &.size-md {

    font-size: 15px;
  }

  &.size-sm {
    font-size: 14px;
  }

  /**
   * VARIANTS
   */
  &.variant-default, &.variant-dashed {
    .idli-textarea-element {
      color: $color-gray-10;
      background-color: $color-white;
      border: 1px solid $color-gray-6;

      &:after {
        background: $color-indigo-3;
      }

      &:hover, &:focus {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  &.variant-dashed {
    .idli-textarea-element {
      border-style: dashed;
    }
  }

  .idli-textarea-element {
    &[disabled], &[disabled="true"] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      cursor: not-allowed;
      opacity: 1;

      &:hover {
        color: $color-gray-5;
        background-color: $color-gray-1;
        border-color: $color-gray-5;
      }
    }
  }

  &.inline {
    display: flex;
    flex-wrap: wrap;
    label {
      width: initial;
      float: left;
      display: block;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .idli-textarea-element {
      float: left;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
  }
}
